@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


@media all {

body{
    background-image: url("");
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 10px 10px gray;
}

.main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 3px;
    color: darkturquoise;
}

p {
    text-align: center;
    font-size: 60px;
    color: rgb(76, 76, 151);
    letter-spacing: 50px;

}
.enlarge:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
}